/** @format */

.about {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.about {
  padding-top: 0;
}

.about-list__item {
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.about-list__item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--modal-background-color);
  background-color: var(--about-item-text-background-color);
  width: 100%;
  height: 70px;
  padding: 27px 0;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
